.services{
    background-color: $bg-color;
    padding-top: 170px;
    padding-bottom: 120px;
    &-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 115px;
        @media (max-width:1150px){
            justify-content: space-around;
        }
    }
    &-block{
        margin-top: 30px;
        max-width: 270px;
        background-color: #ffffff;
        text-align: center;
        padding: 53px 50px;
        transition: 0.3s; 
        /*&:hover{
            color: #ffffff;
            background-color: $accent-color;
            button{
                color: #ffffff;
                border-color:#fff;
            }
            .sevices-block__img{
                background: url('../../img/smartphone-white.png') no-repeat center;
            }
        }*/ //эффект класса active на css      
        &__title{
            margin-top: 40px;
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        &__text{
            max-width: 280px;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.5px;
            margin-bottom: 35px;
        }
        &--btn{
            background-color: transparent;
            border-color: $text-color;
            color: $text-color
        }
    }
}

.sevices-block__img{
    width: 56px;
    height: 62px;
    margin: 0 auto;
    background: url('../../img/smartphone.png') no-repeat center;
}
.active{
    color: #ffffff;
            background-color: $accent-color;
            button{
                color: #ffffff;
                border-color:#fff;
            }
            .sevices-block__img{
                background: url('../../img/smartphone-white.png') no-repeat center;
            }
}
